<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pedrojtmartins.racingcalendar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.Manifest.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <activity
            android:name=".views.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.activities.FavoritesActivity"
            android:parentActivityName=".views.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.activities.MainActivity" />
        </activity>
        <activity
            android:name=".views.activities.SettingsActivity"
            android:parentActivityName=".views.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.activities.MainActivity" />
        </activity>
        <activity
            android:name=".views.activities.NotificationsActivity"
            android:parentActivityName=".views.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.activities.MainActivity" />
        </activity>

        <!-- NotificationsActivity -->
        <receiver
            android:name=".alarms.RCAlarmBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />

        <service android:name=".notifications.RCNotificationService" />

        <!--This needs to happen to reset the alarms. When -->
        <!--the device is turned off all alarms are removed-->
        <receiver android:name=".alarms.RCAlarmResetBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service android:name=".alarms.RCAlarmResetService"/>

    </application>

</manifest>